@model MyWebApp.Models.Notice

@{
    ViewData["Title"] = "Notice Details";
}


@{

    string time_= Model.Time;
    
    //time_ = time_.Substring(0, time_.Length - 2);
    DateTime oDate = Convert.ToDateTime(time_);
    string result = string.Empty;

    var timeSpan = DateTime.Now.Subtract(oDate);

    if (timeSpan <= TimeSpan.FromSeconds(60))
    {
        result = string.Format("{0} seconds ago", timeSpan.Seconds);
    }
    else if (timeSpan <= TimeSpan.FromMinutes(60))
    {
        result = timeSpan.Minutes > 1 ?
        String.Format("about {0} minutes ago", timeSpan.Minutes) :
        "about a minute ago";
    }
    else if (timeSpan <= TimeSpan.FromHours(24))
    {
        result = timeSpan.Hours > 1 ?
        String.Format("about {0} hours ago", timeSpan.Hours) :
        "about an hour ago";
    }
    else if (timeSpan <= TimeSpan.FromDays(30))
    {
        result = timeSpan.Days > 1 ?
        String.Format("about {0} days ago", timeSpan.Days) :
        "yesterday";
    }
    else if (timeSpan <= TimeSpan.FromDays(365))
    {
        result = timeSpan.Days > 30 ?
        String.Format("about {0} months ago", timeSpan.Days / 30) :
        "about a month ago";
    }
    else
    {
        result = timeSpan.Days > 365 ?
        String.Format("about {0} years ago", timeSpan.Days / 365) :
        "about a year ago";
    }

    time_ = result;
    
}

<div class="noticedetails">
    @if(Model!=null)
    {
            <h3 class="noticehead">@Model.ShortDescription</h3>
            
            <p style="color:#a7c2cf ;">:@result</p>
            <br>

            <pre style="color: white;">@Model.Description</pre>
    }
    else
    {
        <p>Technical error. Try again</p>
    }

</div>

<script type="text/javascript">
    window.onload = function () {

        

        };

</script>