@model MyWebApp.Models.Team

@{
    ViewData["Title"] = "Team Update";
}

<div style="align-items: center;
  justify-content: left;">
    <h1 class="textstylei">Team Information Update</h1>
</div>
<hr />
<div class="">
    <div class="row" style="margin-left: 80px;margin-top=20px;">
        <div class="col-md-4">
            <form enctype="multipart/form-data" method="post" asp-action="TeamEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TId" />

                <div class="form-group">
                    <label class="uplabel" asp-for="TeamName" class="control-label"></label>
                    <input asp-for="TeamName" class="form-control" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="uplabel" asp-for="Member1" class="control-label"></label>
                    <input asp-for="Member1" class="form-control" />
                    <span asp-validation-for="Member1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="uplabel" asp-for="Member2" class="control-label"></label>
                    <input asp-for="Member2" class="form-control" />
                    <span asp-validation-for="Member2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="uplabel" asp-for="Member3" class="control-label"></label>
                    <input asp-for="Member3" class="form-control" />
                    <span asp-validation-for="Member3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="uplabel" asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="uplabel" asp-for="Phonenumber" class="control-label"></label>
                    <input asp-for="Phonenumber" class="form-control" />
                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn2 btn2up" />
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
