<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PandaCode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--link rel="stylesheet" href="~/css/mycss.css" /-->
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
            integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY36qM3lon1gyExkL0=" crossorigin="anonymous"/> *@
</head>

@{ 
    string val = "Arman";
    
    if(ViewData["curName"]!=null ){
     val = ViewData["curName"].ToString();
    }
    Console.WriteLine(val);
}

<body >
    
        
   
    <div class="sgipclogo" style="background-color:transparent;">
       
            <img  class="sgipclogoi" src="../Images/sgipclogo.jpeg"/>
            <div  class=" homebutton" >
                  
                <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  
                <a class="btn" asp-area="" asp-controller="Contest" asp-action="Index">Upcoming Contest</a>
                <a class="btn" asp-area="" asp-controller="AddProblem" asp-action="Index">Problem List</a>
                <a class="btn" asp-area="" asp-controller="ClubInfo" asp-action="Index">About SGIPC</a>
                <a class="btn" asp-area="" asp-controller="Resource" asp-action="Index">Resources</a>
                <div style="margin-right: 0;margin-left:auto;">
                <a class="btn" asp-area="" asp-controller="Users" asp-action="Create">Register</a>
                <a class="btn" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
            </div>
        </ul>
    </div>
      
    
    


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MyWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
    
</body>
</html>
