<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PandaCode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--link rel="stylesheet" href="~/css/mycss.css" /-->
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
            integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY36qM3lon1gyExkL0=" crossorigin="anonymous"/> *@
</head>

@{ 
    string val = "Arman";
    
    if(ViewData["curName"]!=null ){
     val = ViewData["curName"].ToString();
    }
    Console.WriteLine(val);
}

<body >
    
        
   
    <div class="sgipclogo" style="background-color:transparent;">
       
            <img  class="sgipclogoi" src="~/Images/sgipclogo.jpeg"/>
            <div  class=" homebutton" >
                  
                <a class="button2 buttonshadowi" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  
                <a class="button2 buttonshadowi" asp-area="" asp-controller="Contest" asp-action="Index">Upcoming Contest</a>
                <a class="button2 buttonshadowi" asp-area="" asp-controller="AddProblem" asp-action="Index">Problem List</a>
                <a class="button2 buttonshadowi" asp-area="" asp-controller="Resource" asp-action="Index">Resources</a>
                <a class="button2 buttonshadowi" asp-area="" asp-controller="Home" asp-action="Notice">Notice</a>                
                <a class="button2 buttonshadowi" asp-area="" asp-controller="ClubInfo" asp-action="Index">About SGIPC</a>

                <div style="margin-right: 0;margin-left:auto;">
                @if( string.Compare(val, "Arman")==0)
                    {
                    <a class="button2 buttonshadowi" asp-area="" asp-controller="Users" asp-action="Create">Register</a>
                        <a class="button2 buttonshadowi" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                    }
                else{
                        <a class="button2 buttonshadowi" asp-area="" asp-controller="Users" asp-action="Details">@ViewData["curName"]</a>
                        <a class="button2 buttonshadowi" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                    }
            </div>
        </ul>
    </div>
      
    
    
   <hr>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div style="margin-up: 50px;">

    </div>

    <footer class="footer">
    <div class="footerin">
    </div>
        <div style="margin-top: 20px;margin-left: 20px;align-items: left;">
    
            <p style="color: aliceblue; font-size: 15px;">CONTACT US</p>
            <hr width="300px;" style="margin-top: -10px;"
            size="2"
            align="left" color="white">
            <p style="color: aliceblue; font-size: 13px;">Email: mdmustafiz7676@gmail.com</p>
            
             <p style=" margin-top:-40px; color: aliceblue; font-size: 13px;">Mobile : +088 1521-222545</p>
            <hr width="60px" align="left">

             <a style="text-decoration: none;"  asp-area="" asp-controller="Home" asp-action="Privacy">Club Policy</a>

        </div>
    

            <div style=" margin-top: -70px; text-align: right; width: 100%;  height: 100px;  background-color:transparent;   display: flex; justify-content: right;; ">

                <a style="margin-top:100px;height: 40px;  width: 40px;  background-color: #f5f6fa;  border-radius: 10px;  margin:4px;  box-shadow:  1px 4px 2px 2px #dcdde1;margin-right: 15px;" href="https://www.facebook.com/groups/sgipc.kuet">
                    <img style=" margin-top:-4px;height: 30px;width:auto;" src="~/Images/fb_icon.png" />
                </a>
                <a style="margin-right: 30px; height: 40px;  width: 40px;  background-color: #f5f6fa;  border-radius: 10px;  margin:4px;  box-shadow:  1px 4px 2px 2px #dcdde1;margin-right: 15px;" href="https://discord.gg/XF9eyuQA">
                    <img style=" margin-top:-4px; height: 30px;width:auto;" src="~/Images/ds_icon.png" />
                </a>
                <a style="margin-right: 30px; height: 40px;  width: 40px;  background-color: #f5f6fa;  border-radius: 10px;  margin:4px;  box-shadow:  1px 4px 2px 2px #dcdde1;margin-right: 15px;" href="https://discord.gg/XF9eyuQA">
                    <img style=" margin-top:-4px; height: 30px;width:auto;" src="~/Images/git_icon.png" />
                </a>
                <a style="margin-right: 30px; height: 40px;  width: 40px;  background-color: #f5f6fa;  border-radius: 10px;  margin:4px;  box-shadow:  1px 4px 2px 2px #dcdde1;margin-right: 15px;" href="https://discord.gg/XF9eyuQA">
                    <img style=" margin-top:-4px; height: 30px;width:auto;" src="~/Images/insta_icon.png" />
                </a>
                <a style="margin-right: 30px; height: 40px;  width: 40px;  background-color: #f5f6fa;  border-radius: 10px;  margin:4px;  box-shadow:  1px 4px 2px 2px #dcdde1;margin-right: 15px;" href="https://discord.gg/XF9eyuQA">
                    <img style=" margin-top:-4px; height: 30px;width:auto;" src="~/Images/lkdin_icon.png" />
                </a>

            </div>
            <p  style=" font-size: 14px; font-weight:lighter; color:rgb(52, 65, 65); margin-top: -50px;text-align: center;"> © SGIPC KUET</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
    
</body>
</html>
