@model MyWebApp.Models.Users

@{
    ViewData["Title"] = "Register";
}
<div class="logback">
    <div class="card">
        <div class="log-box">
            <div class="cardfront">
                <br>
                <br>
                <div style="width: 100%;align-items: center;">
                    <h2 style="margin-left: 120px;text-weight:bold;">
                        Register
                    </h2>
                </div>
                <hr color="white" width="200px" style="margin-left:50px">
                <br>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>

                        <input class="input-box"   placeholder="User Name" asp-for="Name" class="form-control"  />
                         <br><span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div>

                        <input class="input-box" placeholder="Full Name" asp-for="FullName" class="form-control" />
                        <br>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div>

                        <input class="input-box" placeholder="Email" asp-for="Email" class="form-control" />
                        <br><span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div>
                        <input class="input-box" placeholder="+8801XXXXXXXXX" asp-for="PhoneNUmber"
                            class="form-control" />
                        <br><span asp-validation-for="PhoneNUmber" class="text-danger"></span>
                    </div>
                    <div>
                        <input class="input-box" placeholder="Password" type="password" asp-for="Password"
                            class="form-control" />
                        <br><span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="submit" value="Register" class="logbutton" style=" margin-left:225px ;" />
                    </div>
                </form>
                <div style="margin-top: 50px;">
            <a class="nav-link" style="color:rgb(105, 152, 240);" asp-area="" asp-controller="Users" asp-action="Login">
                Already have an account? Login</a>
        </div>
            </div>
        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@if(ViewBag.Found!= null)
{
    <script type="text/javascript">
        window.onload = function(){
            alert("User Name or Email already used.");
        };

    </script>
}