@model MyWebApp.Models.Users

@{
    ViewData["Title"] = "Login";
}


<!-- h4>Users</h4> @ViewData["curId"] 
<hr /-->
<div class="logback">
        <div class="card">
            <div class="log-box">
                <div class="cardfront">
                    <br>
                    <br>
                    <div style="width: 100%;align-items: center;">
                    
                        <h2 style="margin-left: 120px;">
                            Login
                        </h2>
                    </div>
                    <hr color="white" width="200px" style="margin-left:50px">
                    <br>
                    <br>
                  <form asp-action="Login">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
                 <div >
                    <input   class="input-box" placeholder="User Name" required asp-for="Name" class="form-control" /><br>
                    <span asp-validation-for="Name" class="text-danger"></span>
                 </div>
            
            <div >
                <input class="input-box" placeholder="password" type="password" asp-for="Password" class="form-control" /><br>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div style="margin-top: 30px;">
                <label>
                    @Html.CheckBox("Remember",false) Remember Me
                </label>
            </div>
            <div >
                <input class="logbutton" type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div style="margin-top: 50px;">
            <a class="nav-link" style="color:rgb(105, 152, 240);" asp-area="" asp-controller="Users" asp-action="Create">
                Don't have an account? Register</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
