@model MyWebApp.Models.Resource

@{
    ViewData["Title"] = "Resource Details";
}

<h2 style="margin-top: 30px;" class="textstylei">  @Html.DisplayFor(model => model.ShortDescription)</h2>

<div>
            
    <!-- h4>Users</h4 -->
    <hr />
    <dl class="row boxshadowi" style="color:white;margin-left:50px;">
        
        
        
        
        <dd class = "col-sm-10" style="color:#93ff73;font-weight: bold;font-size:18px;">
            @Html.DisplayFor(model => model.Topic)
        </dd>
       
        <dd class = "col-sm-10" style="margin-top:20px ;">
            @Html.DisplayFor(model => model.Description)
        </dd>

       
        
    </dl>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
